*.DS_Store
*.gem
*.orig
*.rbc
*.rbenv-version
*.ruby-version
*.grunt
.com.apple.timemachine.supported
bower_components
node_modules
pkg
rdoc
spec/reports
*.orig
node_modules
*.rbenv-version
*.ruby-version
.settings
tmp
vendor
