// Brand
@bg--primary      : @purple-bluish-dark;
@bg--secondary    : @purple-darker;
@bg--tertiary     : @purple-redish-dark;
@bg--accent       : @red;
@bg--standout     : @green-dark;

// Message status
@bg--info         : @cyan-dark;
@bg--success      : @green-dark;
@bg--warning      : @orange;
@bg--error        : @red-dark;

// Interaction status
@bg--selected     : fade(@red, 40%);
@bg--hover        : fade(@red, 20%);
@bg--active       : fade(@red, 40%);
@bg--hover--gentle: fade(@red, 10%);

// Structure
@bg--content      : white;
@bg--aside        : rgb(242,242,242);
@bg--canvas       : rgb(230,230,230);
